<div class="hero">
  <div class="hero-text">
    <h1>Cocoon</h1>
    <p>la nouvelle façon de travailler.</p>
    <a href="" class="hero-btn">S’abonner</a>
  </div>
</div>

<h2>Repense ta manière de télétravailler</h2>

<h3>COCOON te propose une sélection de lieux pensés pour toi.</h3>

<div class="cards">
  <div class="card"></div>
  <div class="card"></div>
</div>

<a href="" class="hero-btn">S’abonner</a>

<% @hotels.each do |hotel| %>
  <div class="card">
    <img src="https://www.bestjobersblog.com/wp-content/uploads/2019/07/Nuit-Insolite-Corse-Cocoon-Village.jpg" alt="">
    <%= link_to hotel.name, hotel_path(hotel) %>
  </div>
<% end %>


<% @categories.each do |category| %>
  <%= link_to category.price, category_path(category) %>

<% end %>
